.container {
  display: grid;
  grid-template-columns:
    [container-start] repeat(12, minmax(min-content, 12.8rem))
    [container-end];
  justify-content: center;
}

.layout {
  grid-column: container-start/container-end;
}
