@use "../general-styles/gradient" as grad;
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-image: grad.gradient("1");
}

a,
input[type="submit"] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}
li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
